<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-8.0</feature>
		<feature>localConnector-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9081" httpsPort="9443" id="defaultHttpEndpoint"/>
                  
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>



    <!-- Declare the jar files for MySQL access through JDBC. -->
    <dataSource id="cargo-booking-service" jndiName="jdbc/bookingmsdb">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="bookingmsdb" password="bookingmsdb" portNumber="3306" serverName="10.242.0.6" 
        serverTimezone="EST" user="bookingmsdb" URL="jdbc:mysql://mysql-cargo-dev.bluecargo-dev.svc.cluster.local:3306/bookingmsdb"/>
        
    </dataSource>
    <library id="MySQLLib">
        <file name="${server.config.dir}/lib/mysql-connector-java-8.0.21.jar"/>
    </library>

  


    <applicationMonitor updateTrigger="mbean"/>

    <webApplication id="cargo-booking-service" location="cargo-booking-service-1.0.war" contextRoot="/"/>
</server>
